@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
    background-color: #282828;
}

.principal{
    display: flex;
    justify-content:space-between
}



.principal-call{
    width: 1200px;
    height: 600px;
    background-color: #434343;
    margin: 40px 50px;
    border-radius: 45px;
}


.secondary-call{
    display: flex;
    margin-left: 70px;
}

.call1{
    width: 280px;
    height: 180px;
    background-color: #434343;
    border-radius: 35px;
}

.call2{
    width: 280px;
    height: 180px;
    background-color: #434343;
    margin-left: 140px;
    border-radius: 35px;
}

.call3{
    width: 280px;
    height: 180px;
    background-color: #434343;
    margin-left: 140px;
    border-radius: 35px;
}


.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -900px;
    margin-top: 30px;
}

.controls a{
    margin: 30px;
    transition: 0.5s;
}

.controls i{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: 20px solid #363636;
    border-radius: 70px;
    background-color: #363636;
    transition: 0.5s
}

.controls i:hover{
    transform: translateY(-10px);
    background-color: #1a1a1a;
    border: 20px solid #1a1a1a;
    
}

.fa-solid.fa-phone-slash{
    border: 20px solid #ff4545;
    background-color: #ff4545;
    transition: 0.5s;
}

.fa-solid.fa-phone-slash:hover{
    transform: translateY(0px);
    border: 20px solid #ff4545;
    background-color: #ff4545;
}

.chat{
    margin: 0;
}

.text-chat{
    width: 450px;
    height: 600px;
    background-color: #434343;
    margin-top: 40px;
    border-radius: 20px;
}

.topo-chat{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 30px;
}

.text-chat h2{
    padding: 30px;
    color: #fff;
}

.espaco{
    height: 400px;
}

.text-chat input{
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 40px;
    outline: none;
}

.text-chat i{
    padding: 15px;
    border: #fff solid 1px;
    border-radius: 40px;
    color: #363636;
    background-color: #fff;
    margin-left: 12px;
    cursor: pointer;
    transition: 0.4s;
}

.text-chat i:hover{
    background-color: #e7e7e7;
}