@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.topo{
    background-color: #fff;
    padding: 2em;
}

.conteudo{
    margin-bottom: 30px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #A073FF;
}

.conteudo-texto{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.conteudo-texto h2{
    font-weight: 700;
    font-size: 40px;
    color: #121212;
}

.conteudo-texto p{
    font-weight: 500;
    font-size: 20px;
    color: #121212;
}

.conteudo-texto input{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 54px;
    font-weight: 700;
    font-size: 20px;
    color: #5900FF;
    cursor: pointer;
}

.conteudo-imagem{
    display: flex;
}

.conteudo-meio{
    padding-bottom: 90px;
}

.conteudo-meio-termo{
    display: flex;
    justify-content: space-around;
}

.conteudo-meio-texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #282828;
}

.conteudo-meio-texto h2{
    font-weight: 700;
    font-size: 40px;
}

.conteudo-meio-texto p{
    font-weight: 500;
    font-size: 20px;
}

.titulo{
    padding: 70px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #282828;
}

.squares{
    display: grid;
    grid-template-columns: 600px 500px;
    gap: 60px;
    justify-content: center;
    
}

.square1{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 600px;
    background-color: #D9D9D9;
    padding: 10px;   
}

.square2{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 600px;
    background-color: #D9D9D9;
    padding: 10px;
}

.square3{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 600px;
    background-color: #D9D9D9;
    padding: 10px;
}

.square4{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 20px 8px rgba(0, 0, 0, 0.25);
    height: 500px;
    width: 600px;
    background-color: #D9D9D9;
    padding: 10px;
}

.chat{
    width: 340px;
    height: 300px;
    border: 3px solid #000;
    border-radius: 15px;
}