<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" defer> </script>
        <script src="https://kit.fontawesome.com/f4f13ff542.js" crossorigin="anonymous"> </script>
        <link rel="stylesheet" href="CSS/output.css">
        <script src="JS/chat.js" defer> </script>
        <title> BonziTalk </title>

        <script> const salaId = "<%= salaId %>"; </script>

    </head>


    <body class="bg-gray-200 text-white overflow-x-hidden">

        <!-- Convite -->
        <div id="menu-convite-wrapper" class="absolute bg-gray-200 w-full h-full z-10 bg-opacity-70 flex justify-center pt-[20vh] md:text-left text-center">
            <div id="menu-convite" class="absolute bg-gray-400 p-6 md:p-12 rounded-xl w-[80vw] md:w-auto">
                <h2 class="font-bold text-2xl"> Gostaria de compartilhar sua sala? </h2>

                <div class="py-12">
                    <p class="pb-2"> Copie o código abaixo: </p>
                    <div class="flex gap-2">
                        <input type="text" id="convite-textbox" readonly class="rounded-lg w-full bg-gray-100 p-2 px-3">
                        <button id="menu-convite-btn" class="bg-gray-200 rounded-full text-lg font-bold px-2 py-1 cursor-pointer"> <i class="fa-solid fa-link"></i> </button>
                    </div>
                </div>

                <p class="text-center"> Com este código, qualquer um pode entrar <br> na sua sala. </p>
            </div>
        </div>

        <main class="flex">
            
            <section class="h-screen w-screen lg:w-[70vw]">
                <!-- Vídeo chat -->
                <div id="video-grid-container" class="p-8">
                    <div id="video-grid-1" class="md:flex md:gap-4">
                    </div>
                </div>

                <!-- Controles -->
                <div id="controles" class="fixed flex justify-center w-full lg:w-[70vw] bottom-8 gap-4">
                    <div id="btn-camera" title="Ligar câmera" class="controle-div hidden bg-gray-400"> <i class="fa-solid fa-video"> </i> </div>
                    <div id="btn-microfone" title="Ligar microfone" class="controle-div hidden bg-gray-400"> <i class="fa-solid fa-microphone"> </i> </div>
                    <!-- <div id="btn-compartilhar-tela" title="Compartilhar tela" class="controle-div bg-gray-400"> <i class="fa-solid fa-display"> </i> </div> -->
                    <div id="btn-sair-chamada" title="Sair da chamada" class="controle-div bg-[#FF4545]"> <i class="fa-solid fa-phone-slash"> </i> </div>
                </div>
            </section>

            <section class="hidden lg:block shadow-md">
                <!-- Chat -->
                <div id="chat-div" class="bg-gray-100 fixed rounded-tl-3xl right-0 bottom-0 w-[25vw] h-[90vh]">
                    <!-- Botões chat -->
                    <div class="flex w-full justify-end absolute px-4 pt-4">
                        <!-- Botão participantes -->
                        <div class=""> <button id="btn-participantes-menu" title="Participantes" class="bg-gray-400 w-10 h-10 rounded-full shadow-sm"> <i class="fa-solid fa-user-group"> </i> </button> </div>
                    </div>

                    <!-- Mensagens -->
                    <div id="mensagens-container" class="w-full h-[78vh] pt-20 px-8 text-lg overflow-y-scroll overflow-x-hidden">
                        <div class="flex md:hidden md:grid md:grid-flow-col md:grid-rows-2 md:grid-rows-3 md:gap-4 align-middle h-96">
                            <div class=""> <img src="https://imgs.search.brave.com/cC3e76N5GY0y2Cye-OfkVorA563rzczHbnnuPHza8EY/rs:fit:1200:1079:1/g:ce/aHR0cHM6Ly9pLmt5/bS1jZG4uY29tL2Vu/dHJpZXMvaWNvbnMv/b3JpZ2luYWwvMDAw/LzAzMy80MjEvY292/ZXIyLmpwZw" alt="" class="w-12 h-12 rounded-full object-cover shadow-md"> </div>
                            <div class="p-2 pt-12 pt-8 w-12 h-12"> <p class="bg-gray-300 rounded-lg w-full p-3 shadow-sm"> Bruh </p> </div>
                        </div>
                    </div>

                    <!-- Textbox -->
                    <div class="flex w-[25vw] 2xl:text-2xl absolute bottom-3 gap-2 px-6 2xl:px-12">
                        <input type="text" id="chat-textbox" class="text-gray-300 border-none outline-none w-full h-[5vh] rounded-full px-3 p-1 shadow-md" placeholder="Digite aqui!">
                        <button id="btn-chat-env" title="Enviar" class="bg-gray-400 rounded-full px-3 shadow-md"> > </button>
                    </div> 
                </div>

                <!-- Aba de Participantes -->
                <div id="menu-participantes" class="hidden bg-gray-100 fixed rounded-tl-3xl right-0 bottom-0 w-[25vw] h-[90vh]">
                    <!-- Botões menu participantes -->
                    <div class="flex w-full justify-end absolute px-4 pt-4">
                        <!-- Botão voltar para chat -->
                        <div class=""> <button id="btn-chat" title="Chat" class="bg-gray-400 w-10 h-10 rounded-full shadow-sm opacity-80"> <i class="fa-solid fa-message"> </i> </button> </div>
                    </div>

                    <h2 class="text-xl font-bold pt-16 px-6"> Participantes: </h2>

                    <!-- Participantes -->
                    <div class="div-participantes-container pb-8 overflow-x-hidden overflow-y-scroll">
                    </div>
                </div>
            </section>

        </main>

    </body>

</html>